* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
header {
  padding: 96px 0px 64px;
}

.max-width-wrapper {
  max-width: 800px;
  margin-inline: auto;
}

h1 {
  margin-bottom: 48px; 
}

.intro-chunk {
  padding-inline: 24px;
}

.intro-chunk {
  max-width: 415px;
}

.intro-chunk strong {
  color: hsla(160, 100%, 30%, 1);
}

p {
  line-height: 1.5;
}

/* Second Section */

main {
  background-color: hsla(0, 0%, 40%, 1);
  padding: 72px 0px 66px;
}

.card {
  background-color: white;
  padding: 8px 24px 24px;
}

.indented-heading {
  background-color: hsla(45, 100%, 50%, 1);
  width: fit-content;
  padding: 16px 32px;
  margin-left: -32px;
  border-bottom: 8px solid hsla(45, 100%, 40%, 1);
}